{%- raw -%}
  <div class="grid gap-8 items-center mb-8 lg:mb-24 lg:gap-12 lg:grid-cols-12">
      <div class="col-span-6 text-center sm:mb-6 lg:text-left lg:mb-0">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl xl:text-6xl dark:text-white">{{this.properties['module_field_109_1']}}</h1>
        <p class="mx-auto mb-6 max-w-xl font-light text-gray-500 lg:mx-0 xl:mb-8 md:text-lg xl:text-xl dark:text-gray-400">{{this.properties['module_field_109_7']}}</p>
        {% comment %} Embed layout here. {% endcomment %}
        {% if this.properties['module_field_109_8'] != blank %}
          {% capture testimonials_layout -%}{{layout}}/testimonials{%- endcapture %}
          {% assign item_ids = this.properties['module_field_109_8'] | join: "," %}
          {% include 'module', marketplace: 'false', id: '8', layout: testimonials_layout, type: 'list', item_ids: item_ids, datasource: 'true', _top_model: nil %}
        {% endif %}
      </div>
      <div class="col-span-6">
        <iframe class="mx-auto w-full max-w-xl h-64 rounded-lg sm:h-96" src="{{this.properties['module_field_109_6']}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
{%- endraw -%}