{%- raw -%}
<div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
  <img class="rounded-t-lg" src="{{this.properties['module_field_109_3'] | asset_url}}" alt="{{this.properties['module_field_109_4']}}">
  <div class="p-5">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{this.properties['module_field_109_1']}}</h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{this.properties['module_field_109_7']}}</p>
  </div>
</div>
{%- endraw -%}